@import "~styles/colors";
@import "~styles/fonts";
@import "~styles/transitions";

.Nav {
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  overflow: hidden;

  $width: 500px;
  width: $width;
  flex: 0 0 $width;

  position: relative;
  z-index: 1000;

  box-sizing: border-box;
  .title {
    @include defaultFont;
    font-weight: bold;
    font-size: 2em;
    padding-left: 10px;
  }


  .background {
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    height: 300%;
    background: $primary;
    transform: rotate(-5deg);
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 30px 150px 30px 30px;
    color: $foreground;
    @include defaultFont;

    .routes {
      padding-top: 20px;
    }

    .item {
      display: block;
      padding: 10px;
      opacity: 0.6;
      color: $foreground;
      font-size: 1.1em;
      text-transform: capitalize;
    }

    .link, .sublink {
      display: block;
      padding: 10px;
      text-decoration: none;
      opacity: 0.6;
      // @include transition(200ms);
      color: $foreground;
      font-size: 1.1em;
      border-radius: 3px;
      text-transform: capitalize;
      outline: none;

      &:not(.active) {
        &:hover {
          opacity: 1;
          background: rgba(255, 255, 255, 0.1);
        }
      }

      &.active {
        opacity: 1;
      }

      &.last {
        margin-bottom: 30px;
      }
    }

    .sublink {
      padding-left: 30px;
    }
  }
}
