
// cf * https://colorhunt.co/palette/118028

$primary: #240041;

$secondary: #900048;

$ternary: #ff4057;

// $ternary: #281758;
$ternary_hue1: #887CAF;
$ternary_hue2: #615192;
$ternary_hue3: #14073D;
$ternary_hue4: #0A0223;



$foreground: white;

$background_hue1: #fff6f6;
