@mixin defaultFont {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

@mixin defaultBoldFont {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  // font-size: 1.4em;
}

@mixin titleFont {
  font-family: "Renner";
  font-weight: 300;
  font-size: 1.4em;
}
